<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<section >
	<div class="backing">
		<div class="text-white text-center">
		<h1 style="color:white;">Feeders.H</h1>
		<h2 style="color:white;">Say goodbye to child hunger by feeding one hungry tummy at a time.</h2>
		<button class="btn bg-primary text-white">Get Starts</button>
		</div>
	</div>
	
</section>
</body>
</html> 